@page "/transactions"
@attribute [Authorize]

@using Finsight.Models
@using finsight_dotnet.Components.Transactions


<div>
    <div class="flex justify-end">
        <button @onclick="OpenModal"
            class=" py-2 px-4 text-sm rounded-lg bg-primary text-primary-text  flex items-center justify-center shadow-lg cursor-pointer focus:outline-none">
            + Add New
        </button>
    </div>
    <TransactionModal @bind-IsVisible="isModalVisible" />
</div>
@code {
    private bool isModalVisible = false;

    private void OpenModal()
    {
        isModalVisible = true;
    }
}