@page "/transactions"
@using Finsight.Models
@using finsight_dotnet.Components.Transactions

<div >
    <div class="flex justify-end ">        
        <button  @onclick="OpenModal" 
                class="px-4 py-2 bg-accent text-white font-medium rounded-3xl shadow-md cursor-pointer">
            + Add Transaction
        </button>
    </div>
    
    <TransactionModal @bind-IsVisible="isModalVisible" />

</div>

@code {
    private bool isModalVisible = false;

    private void OpenModal()
    {
        isModalVisible = true;
    }
}