@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color);
}

/* Use @layer base to ensure correct specificity order */
@layer base {
  :root {
    --primary-color: #b4c7ff;
  }

  /* Using :is(.dark *) ensures high enough specificity */
  :root:has(.dark), .dark {
    --primary-color: #000000;
  }
}