@page "/"
@namespace finsight_dotnet.Pages

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<!DOCTYPE html>
<html lang="en">

<head>
   <link href="css/tailwind.css" rel="stylesheet" />
</head>

<body>
   <component type="typeof(App)" render-mode="Server" />
   <script src="_framework/blazor.server.js"></script>
</body>

</html>